*{
    margin-left: 15px;
    padding: 0;
    box-sizing: border-box;
   
}



.header{
    
        color: #002d5b;
        line-height: 1.3em;
        width: 100%;
        position: relative;
       font-family:  'Playfair Display',serif;
       text-align: justify;
       font-size: 3.8235294117647rem;
}
.container-fluid{
    background-color: #ffffff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    .navbar-nav {
        --bs-nav-link-padding-x: 0;
        --bs-nav-link-padding-y: 1.5rem;
        --bs-nav-link-font-weight: ;
        --bs-nav-link-color: #000;
        --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
        --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        
    }
    }
    .elementor-widget-image img {
        vertical-align: middle;
        display: inline-block;
    }
.hire{
   
    
        border: 1px solid rgb(143, 8, 22);
        color: rgb(219, 133, 133);
        display: inline-block;
        border-color: white;
        background-color:rgb(247, 192, 192);
        padding-top: 15px;
        padding-right: 30px;
        padding-bottom: 15px;
        padding-left: 30px;
        font-family:'Playfair Display',serif;
        line-height: 1em;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        flex-wrap: nowrap;
        
    }
    
    p{
        margin-top: 0;
        margin-bottom: 1rem;
        text-decoration:solid;
        font-size: 16px;
        text-align: justify;
        font-weight: 4px;
        color: #8d303e;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-top: 5px;
        padding-bottom: 0px;
        /* padding-right: 43px; */
        display: flex;
            flex-wrap: nowrap;
    }
    
    .rights p{
        text-align: center;
        padding-top: 10vh;
        font-size: 18px;
        font-weight: 500;
        font-family:'inherit';
        color: rgb(255, 255, 255);
    }
   
        
        .h5{
            color: #002d5b;
        line-height: 1.3em;
        width: 100%;
        position: relative;
       font-family:  'Playfair Display',serif;
       text-align: justify;
        }

    
    .txt{
        font-family:'Playfair Display',serif;
        font-size: 40px;
        color: #e0e0ea;
        text-align: center;
    }
   .button-text{
    border: 1px solid rgb(143, 8, 22);
        color: rgb(239, 27, 27);
        display: inline-block;
        border-color: white;
        background-color:rgb(247, 192, 192);
        padding-top: 15px;
        padding-right: 50px;
        padding-bottom: 15px;
        padding-left: 30px;
        font-family:'Playfair Display',serif;
        line-height: 1em;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        flex-wrap: nowrap;
   }
   .elementor-7 .elementor-element.elementor-element-21a9478 {
    width: 50%;
}

.banner {
    text-align: center;
    background-color: #ffffff;
    margin: 0 auto;
}
 
.banner img {
    max-width: 100%;
    height: auto;
}
/* Contact form styles */
.contact-form {
    padding: 40px 0;
    margin: 0 10px;
}
 
.form-container {
    max-width: 41%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8c5c5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
 
.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}
 
.form-group {
    margin-bottom: 20px;
}
 
.form-container label {
    display:block;
    font-weight: bold;
}
.form-container input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #f14f4f;
    border-radius: 4px;
    margin-bottom: 1rem;
    resize: vertical;
}
.submit-button {
    padding: 10px 20px;
    background-color: #ac0d0d;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: #f8d5d5;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.Socialicons {
    display: flex;
    justify-content: center;
}

.Socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.Socialicons a i{
    font-size: 2rem;
    color: #1f2937;
    opacity:0.9;
}
.Socialicons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.Socialicons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerNav{
    margin:30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a{
    color: rgb(6, 6, 63);
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerButtom{
    background-color: #ddb9b9;
    padding: 20px;
    text-align: center;
}
.footerButtom p{
    color: white;
}
.Designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media screen and (max-width:425px) {
    .row  {
background-color: #f8c5c5;
    }
    
    
}
